# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List  three development environment open source tools used in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. C++
6. Java
7. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Lattice
4. ggplot2
5. Leaflet

| Data Science Tools |
| -------------|
| Jupyter Lab |
| Apache Zeppelin | 
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Timofey